<app-layout>
    
    <mat-toolbar class="page-header" role="heading">
        <h1>Messagerie</h1>
    </mat-toolbar>

    <div class="page-content__items-wrapper">

        <!-- Card 1 -->
        <mat-card class="page-content__item">
          <mat-card-title>
                <p>
                    <button mat-raised-button color="accent">
                        <mat-icon>add</mat-icon>
                        Nouveau message
                    </button>
                </p>
            <mat-toolbar color="">
                <mat-toolbar-row>
                  <span>Dossier</span>
                  <span class="example-spacer"></span>
                </mat-toolbar-row>
            </mat-toolbar>
            
          </mat-card-title>
          <mat-card-content>

          </mat-card-content>
        </mat-card>

        <!-- Card 2 -->
        <mat-card class="page-content__item">
          <mat-card-title>
            <p>Messages reçus</p>
          </mat-card-title>
          <mat-card-content>

          </mat-card-content>
        </mat-card>

      </div>

    

</app-layout>
