<app-layout>
    
    <mat-toolbar class="page-header" role="heading">
        <h1>Gestion des alertes</h1>
    </mat-toolbar>

      <mat-card class="icons-wrapper">
       
         
            <div class="icons-content">
             

                <mat-tab-group>
                    <mat-tab label="Projet">
                        <div class="icons-content">
                          <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                              <tr>
                                <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                                <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                                <th>Periode</th>
                                <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                                <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
      
      
                            </tbody>
                          </table>
                        </div>
                    </mat-tab>

                    <mat-tab label="Composantes">
                        <div class="icons-content">
                          <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                              <tr>
                                <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                                <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                                <th>Periode</th>
                                <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                                <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
      
      
                            </tbody>
                          </table>
                        </div>
                    </mat-tab>

                    <mat-tab label="Jalons">
                        <div class="icons-content">
                          <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                              <tr>
                                <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                                <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                                <th>Periode</th>
                                <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                                <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
                              <tr>
                                <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                                <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                                <td>40</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                              </tr>
      
      
                            </tbody>
                          </table>
                        </div>
                    </mat-tab>

                    <mat-tab label="Financements">
                        <div class="icons-content"><table class="mdl-data-table mdl-js-data-table">
                          <thead>
                            <tr>
                              <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                              <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                              <th>Periode</th>
                              <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                              <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
    
    
                          </tbody>
                        </table></div>
                    </mat-tab>

                    <mat-tab label="Saisie du rapport">
                        <div class="icons-content"><table class="mdl-data-table mdl-js-data-table">
                          <thead>
                            <tr>
                              <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                              <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                              <th>Periode</th>
                              <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                              <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
    
    
                          </tbody>
                        </table></div>
                    </mat-tab>

                    <mat-tab label="Validation de la saisie">
                        <div class="icons-content"><table class="mdl-data-table mdl-js-data-table">
                          <thead>
                            <tr>
                              <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                              <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                              <th>Periode</th>
                              <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                              <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
    
    
                          </tbody>
                        </table></div>
                    </mat-tab>

                    <mat-tab label="Saisie par semaine">
                        <div class="icons-content"><table class="mdl-data-table mdl-js-data-table">
                          <thead>
                            <tr>
                              <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                              <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                              <th>Periode</th>
                              <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                              <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                              <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                              <td>40</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                              </td>
                            </tr>
    
    
                          </tbody>
                        </table></div>
                    </mat-tab>
                </mat-tab-group>

            </div>  
         

     
      </mat-card>
    


</app-layout>
