<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Parametrage</h1>
  </mat-toolbar>

  <mat-card class="icons-wrapper">
    <div class="icons-content">
      <div class="page-content__items-wrapper">

       
       <section class="deux-formulaire">
         <div class="formulaire-1">
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Appliquer le verrou CDD</mat-checkbox>
          <br>
          <br>
          <h6 class="titre-parametrage"> Configuration CDD</h6>
          <hr>
          
          <label for="">Jour et heure</label>
          <select name="cars" id="cars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
         </div>
         <div class="formulaire-2">
          <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Appliquer le verrou CDP / PF</mat-checkbox>
          <br>
          <br>
          <h6 class="titre-parametrage">  Configuration CDP/PF</h6>
          <hr>
          <label for="">Jour et heure</label>
          <select name="cars" id="cars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <br><br>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Valider
          </button>
        </div>

       </section>
       
      </div>
    </div>
  </mat-card>
</app-layout>
