<app-layout>
   
    <mat-toolbar class="page-header" role="heading">
        <h1>Gestion des profils</h1>
    </mat-toolbar>
      <mat-card class="icons-wrapper">
        <mat-tab-group>
          <mat-tab label="Gestion des profils">
            <div class="icons-content">
              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <p>Profils</p>

                  <br/>  <br/> <br/> 
                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                    <span matPrefix> </span>
                    <input type="tel" matInput placeholder="Search" name= "search" >
                    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                    </mat-form-field> 
                  </form>

                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <p>Modules</p>

                    <br/>  <br/> <br/> 
                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                    <span matPrefix> </span>
                    <input type="tel" matInput placeholder="Search" name= "search" >
                    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                    </mat-form-field> 
                  </form>
                  </mat-card-title>
                  <mat-card-content>
                  </mat-card-content>
                </mat-card>
                <!-- Card 3 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <p>Fonctionnalites</p>

                    <br/>  <br/> <br/> 
                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                    <span matPrefix> </span>
                    <input type="tel" matInput placeholder="Search" name= "search" >
                    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                    </mat-form-field> 
                  </form>
                  </mat-card-title>
                  <mat-card-content>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
</app-layout>
