<app-layout>
   
    <mat-toolbar class="page-header" role="heading">
        <h1>Referentiel</h1>
    </mat-toolbar>


    <mat-card class="icons-wrapper">
        <mat-tab-group>
          <!-- ISSUE LOG -->
          <mat-tab label="Issue logs">
            <div class="icons-content">

              <!-- LINE 1 -->

              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Probabilite</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                      
                  </mat-card-title>
                  <mat-card-content>

                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
                      
                          <!-- Position Column -->
                          <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> Libelle </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Poids </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                          </ng-container>
                      
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                      
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                       showFirstLastButtons 
                                       aria-label="Select page of periodic elements">
                        </mat-paginator>
                      </div>
                      


                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Criticite</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> Libelle </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Poids </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>    

              </div>

              <!-- LINE 2 -->
              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Priorité</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> Libelle </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Poids </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Gravité</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> Libelle </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Poids </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>    

              </div>
              

            </div>
          </mat-tab>

          <mat-tab label="Indicateurs">
            <div class="icons-content">
            
              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Indicateurs</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> Libelle </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Poids </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Unité de mesure</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> Libelle </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Poids </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>
        
        
              </div>

            </div>
          </mat-tab>
          
          <!-- Documents -->
          <mat-tab label="Documents">
            <div class="icons-content">
            
              <div class="page-content__items-wrapper">

                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>

                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Confidentialité</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>

                  </mat-card-title>
                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> Libelle </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Poids </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Type de document</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> Libelle </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Poids </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>
        
        
              </div> 

            </div>
          </mat-tab>

          <!-- Budget -->
          <mat-tab label="Budgets">
            <div class="icons-content">
            
              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Bailleurs</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> Libelle </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Poids </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Nature de financement</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>

                 <!-- Card 3 -->
                 <mat-card class="page-content__item">
                    <mat-card-title>
                        <mat-toolbar>
                            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                              <mat-icon>menu</mat-icon>
                            </button>
                            <span>Type de financement</span>
                            <span class="example-spacer"></span>
                            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                              <mat-icon>add</mat-icon>
                            </button>
                          </mat-toolbar>
                    </mat-card-title>
                    <mat-card-content>
          
                    </mat-card-content>
                  </mat-card>
              </div> 
              

            </div>
          </mat-tab>


           <!-- Composition -->
           <mat-tab label="Composition">
            <div class="icons-content">
            
              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Batailles Clés/Catalyseurs</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                   
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Axes stratégiques</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>

              </div> 

              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Régions</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Secteurs</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>

              </div> 

              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Categories</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Autres</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>

              </div> 
              

            </div>
          </mat-tab>

          <!-- Acteurs -->
          <mat-tab label="Acteurs">
            <div class="icons-content">
            
              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Structures</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Acteurs</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
        
              </div>

            </div>
          </mat-tab>


           <!-- Structure -->
           <mat-tab label="Structures">
            <div class="icons-content">
            
              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Ministères / Présidence/Bos</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Type Structure</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
        
              </div>


              <div class="page-content__items-wrapper">
                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>menu</mat-icon>
                        </button>
                        <span>Structure d'exécution</span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>

              </div>

            </div>
          </mat-tab>



                    <!-- Autres -->
                    <mat-tab label="Autres">
                        <div class="icons-content">
            
                          <!-- LINE 1 -->
            
                          <div class="page-content__items-wrapper">
                            <!-- Card 1 -->
                            <mat-card class="page-content__item">
                              <mat-card-title>
                                <mat-toolbar>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                                      <mat-icon>menu</mat-icon>
                                    </button>
                                    <span>Périodicités</span>
                                    <span class="example-spacer"></span>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </mat-toolbar>
                                  
                              </mat-card-title>
                              <mat-card-content>
                    
                              </mat-card-content>
                            </mat-card>
                    
                            <!-- Card 2 -->
                            <mat-card class="page-content__item">
                              <mat-card-title>
                                <mat-toolbar>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                                      <mat-icon>menu</mat-icon>
                                    </button>
                                    <span>Statut</span>
                                    <span class="example-spacer"></span>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </mat-toolbar>
                              </mat-card-title>
                              <mat-card-content>
                    
                              </mat-card-content>
                            </mat-card>    
            
                          </div>
            
                          <!-- LINE 2 -->
                          <div class="page-content__items-wrapper">
                            <!-- Card 1 -->
                            <mat-card class="page-content__item">
                              <mat-card-title>
                                <mat-toolbar>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                                      <mat-icon>menu</mat-icon>
                                    </button>
                                    <span>Rôles</span>
                                    <span class="example-spacer"></span>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </mat-toolbar>
                              </mat-card-title>
                              <mat-card-content>
                    
                              </mat-card-content>
                            </mat-card>
                    
                            <!-- Card 2 -->
                            <mat-card class="page-content__item">
                              <mat-card-title>
                                <mat-toolbar>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                                      <mat-icon>menu</mat-icon>
                                    </button>
                                    <span>Fonctions</span>
                                    <span class="example-spacer"></span>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </mat-toolbar>
                              </mat-card-title>
                              <mat-card-content>
                    
                              </mat-card-content>
                            </mat-card>    
            
                          </div>


                           <!-- LINE 3 -->
                           <div class="page-content__items-wrapper">
                            <!-- Card 1 -->
                            <mat-card class="page-content__item">
                              <mat-card-title>
                                <mat-toolbar>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                                      <mat-icon>menu</mat-icon>
                                    </button>
                                    <span>Nature</span>
                                    <span class="example-spacer"></span>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </mat-toolbar>
                              </mat-card-title>
                              <mat-card-content>
                    
                              </mat-card-content>
                            </mat-card>
                    
                            <!-- Card 2 -->
                            <mat-card class="page-content__item">
                              <mat-card-title>
                                <mat-toolbar>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                                      <mat-icon>menu</mat-icon>
                                    </button>
                                    <span>Periodes</span>
                                    <span class="example-spacer"></span>
                                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </mat-toolbar>
                              </mat-card-title>
                              <mat-card-content>
                    
                              </mat-card-content>
                            </mat-card>    
            
                          </div>
                          
            
                        </div>
                      </mat-tab>

        </mat-tab-group>
      </mat-card>

   




</app-layout>
