<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Statistique</h1>
  </mat-toolbar>
  <mat-card class="icons-wrapper">
    
     
        <mat-tab-group>
          <mat-tab label="Suivi des problèmes">
            <div class="charts-content">
              <div class="charts-content__charts-wrapper">
                <mat-card class="charts-content__chart-item">
                  <mat-card-title>
                    <p>Apex Line Chart</p>
                  </mat-card-title>
                  <app-line-chart
                    [lineChartData]="lineChartData$ | async"
                  ></app-line-chart>
                </mat-card>

                <mat-card class="charts-content__chart-item">
                  <mat-card-title>
                    <p>Apex Heatmap Chart</p>
                  </mat-card-title>
                  <app-heatmap-chart
                    [heatmapChartData]="heatmapChartData$ | async"
                  ></app-heatmap-chart>
                </mat-card>
              </div>

              <div class="charts-content__charts-wrapper">
                <mat-card class="charts-content__chart-item">
                  <mat-card-title>
                    <p>Apex Dashed Line Chart</p>
                  </mat-card-title>
                  <app-dashed-line-chart
                    [dashedLineChartData]="dashedLineChartData$ | async"
                  ></app-dashed-line-chart>
                </mat-card>

                <mat-card class="charts-content__chart-item">
                  <mat-card-title>
                    <p>Apex Pie Chart</p>
                  </mat-card-title>
                  <app-pie-chart
                    [pieChartData]="pieChartData$ | async"
                  ></app-pie-chart>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Taux de succès dans la résolution des problèmes">
            <div class="charts-content__charts-wrapper">
              <mat-card class="charts-content__chart-item">
                <mat-card-title>
                  <p>Apex Dashed Line Chart</p>
                </mat-card-title>
                <app-dashed-line-chart
                  [dashedLineChartData]="dashedLineChartData$ | async"
                ></app-dashed-line-chart>
              </mat-card>

              <mat-card class="charts-content__chart-item">
                <mat-card-title>
                  <p>Apex Pie Chart</p>
                </mat-card-title>
                <app-pie-chart
                  [pieChartData]="pieChartData$ | async"
                ></app-pie-chart>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Enjeux financiers des problèmes suivis">
            <div class="charts-content__charts-wrapper">
              <mat-card class="charts-content__chart-item">
                <mat-card-title>
                  <p>Apex Dashed Line Chart</p>
                </mat-card-title>
                <app-dashed-line-chart
                  [dashedLineChartData]="dashedLineChartData$ | async"
                ></app-dashed-line-chart>
              </mat-card>

              <mat-card class="charts-content__chart-item">
                <mat-card-title>
                  <p>Apex Pie Chart</p>
                </mat-card-title>
                <app-pie-chart
                  [pieChartData]="pieChartData$ | async"
                ></app-pie-chart>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Résolution des problèmes">
            <div class="charts-content__charts-wrapper">
              <mat-card class="charts-content__chart-item">
                <mat-card-title>
                  <p>Apex Dashed Line Chart</p>
                </mat-card-title>
                <app-dashed-line-chart
                  [dashedLineChartData]="dashedLineChartData$ | async"
                ></app-dashed-line-chart>
              </mat-card>

              <mat-card class="charts-content__chart-item">
                <mat-card-title>
                  <p>Apex Pie Chart</p>
                </mat-card-title>
                <app-pie-chart
                  [pieChartData]="pieChartData$ | async"
                ></app-pie-chart>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
     
  </mat-card>
</app-layout>
