<app-layout>
<mat-card class="icons-wrapper">
<mat-tab-group>
  <mat-tab label="Tableau de bord ">
    <mat-tab-group>
      <mat-tab class="tab-dasbord"  label="Livrées et en Exploitation"></mat-tab>
      <mat-tab class="tab-dasbord"  label="Cartographie des composantes"></mat-tab>
      <mat-tab class="tab-dasbord"  label="Cartographie des finances"></mat-tab>
      <mat-tab class="tab-dasbord"  label="Documentation "></mat-tab>
      <mat-tab class="tab-dasbord"  label="Rapports"></mat-tab>
      
    </mat-tab-group>
    <div class="icons-content">
      <div class="charts-wrapper">
   
        <div class="chart">
          <app-visits-chart [visitsChartData]="visitsChartData$ | async"></app-visits-chart>
        </div>
        <div class="chart">
          <app-performance-chart [performanceChartData]="performanceChartData$ | async"></app-performance-chart>
        </div>
        <div class="chart">
          <app-server-chart [serverChartData]="serverChartData$ | async"></app-server-chart>
        </div>
        <div class="chart">
          <app-revenue-chart [revenueCharData]="revenueChartData$ | async"></app-revenue-chart>
        </div>
      </div>
    
      <app-daily-line-chart [dailyLineChartData]="dailyLineChartData$ | async"></app-daily-line-chart>
    
      <app-project-stat-chart [projectsStatsData]="projectsStatsData$ | async"></app-project-stat-chart>
    

    
    </div>
  </mat-tab>

  <mat-tab label="Fiche de synthèse">
    <div class="icons-content">
      <br>
      <br>
      
      <app-support-requests [supportRequestData]="supportRequestData$ | async"></app-support-requests>
      
      
      <br>
      <br>
    </div>
  </mat-tab>
</mat-tab-group>
</mat-card>


</app-layout>
