<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Composition</h1>
  </mat-toolbar>

  <mat-card class="icons-wrapper">
    <mat-tab-group>
      <!-- Composition -->
      <mat-tab label="Composition">
        <div class="icons-content">
          <div class="page-content__items-wrapper">
            <!-- Card 1 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Batailles Clés/Catalyseurs</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>

            <!-- Card 2 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Axes stratégiques</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>
          </div>

          <div class="page-content__items-wrapper">
            <!-- Card 1 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Régions</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>

            <!-- Card 2 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Secteurs</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>
          </div>

          <div class="page-content__items-wrapper">
            <!-- Card 1 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Categories</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>

            <!-- Card 2 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Autres</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</app-layout>
