<app-layout>
    <mat-card class="icons-wrapper">
        <mat-tab-group>
          <mat-tab label="Material Icons">
            <div class="icons-content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia necessitatibus earum minus? Reiciendis eveniet quisquam deleniti error, iusto asperiores sapiente totam ipsa excepturi animi provident quasi quas necessitatibus ab dolorem!
                
                
              </p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    

</app-layout>
