<mat-list>
  <!-- <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-icon>bar_chart</mat-icon> Menu Principal
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
        <mat-icon>bar_chart</mat-icon> Tableau de Bord
      </mat-list-item>
      <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
        <mat-icon>bar_chart</mat-icon> FICHE DE SYNTHESE
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion> -->

  <mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-icon>account_balance</mat-icon> TABLEAU DE BORD
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
        <mat-icon>category</mat-icon> Tableau de Bord
      </mat-list-item>
      <mat-list-item routerLink="{{routes.SYNTHESE}}" routerLinkActive="active">
        <mat-icon>bar_chart</mat-icon> FICHE DE SYNTHESE
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>bar_chart</mat-icon> AVANCEMENT DETAILLEE
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.AVANCEMENT}}" routerLinkActive="active">
        <mat-icon>brightness_5</mat-icon> CONFIGURATION
      </mat-list-item>
      <mat-list-item routerLink="{{routes.REFORME}}" routerLinkActive="active">
        <mat-icon>more_vert</mat-icon> PROJET / REFORMES
      </mat-list-item>
      <!-- <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
        <mat-icon>bar_chart</mat-icon> INITIATIVE PR
      </mat-list-item>
      <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
        <mat-icon>bar_chart</mat-icon> PROGRAMME SECT
      </mat-list-item> -->
    </mat-expansion-panel>
  </mat-accordion>

  <mat-list-item routerLink="{{routes.ISSUE_LOG}}" routerLinkActive="active">
    <mat-icon>fast_rewind</mat-icon> ISSUE LOG
  </mat-list-item>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>attach_money</mat-icon> FINANCE
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.FINANCES}}" routerLinkActive="active">
        <mat-icon>money</mat-icon> Suivi financier
      </mat-list-item>
      <mat-list-item routerLink="{{routes.TDB}}" routerLinkActive="active">
        <mat-icon>money</mat-icon> TBD FINANCIER
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>airplay</mat-icon> MEDIATHEQUE
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.MEDIATHEQUE}}" routerLinkActive="active">
        <mat-icon>attachment</mat-icon> RAPPORTS
      </mat-list-item>
      <mat-list-item routerLink="{{routes.PHOTOSVIDEOS}}" routerLinkActive="active">
        <mat-icon>filter</mat-icon> PHOTOS ET VIDEO
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <!--<mat-list-item routerLink="{{routes.STATISTIQUE}}" routerLinkActive="active">
    <mat-icon>show_chart</mat-icon> Statistique
  </mat-list-item>-->
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>access_alarm</mat-icon> GESTION DES ALERTES
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.GESTION_ALERTES}}" routerLinkActive="active">
        <mat-icon>settings</mat-icon> CONFIGURATION
      </mat-list-item>
      <mat-list-item routerLink="{{routes.ALERTE}}" routerLinkActive="active">
        <mat-icon>report_problem</mat-icon> ALERTES
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-list-item routerLink="{{routes.MESSAGERIES}}" routerLinkActive="active">
    <mat-icon>message</mat-icon> MESSAGERIE
  </mat-list-item>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>all_inclusive</mat-icon> REFERENTIEL
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.REFERENTIEL}}" routerLinkActive="active">
        <mat-icon>layers</mat-icon> ISSUE LOG
      </mat-list-item>
      <mat-list-item routerLink="{{routes.INDICATEURS}}" routerLinkActive="active">
        <mat-icon>functions</mat-icon> INDICATEURS
      </mat-list-item>
      <mat-list-item routerLink="{{routes.DOCUMENTS}}" routerLinkActive="active">
        <mat-icon>assignment</mat-icon> DOCUMENTS
      </mat-list-item>
      <mat-list-item routerLink="{{routes.BUDGET}}" routerLinkActive="active">
        <mat-icon>attach_money</mat-icon> BUDGETS
      </mat-list-item>
      <mat-list-item routerLink="{{routes.COMPOSITION}}" routerLinkActive="active">
        <mat-icon>label</mat-icon> COMPOSITIONS
      </mat-list-item>
      <mat-list-item routerLink="{{routes.AUTRE}}" routerLinkActive="active">
        <mat-icon>extension</mat-icon> AUTRES
      </mat-list-item>
      <mat-list-item routerLink="{{routes.ACTEUR}}" routerLinkActive="active">
        <mat-icon>accessibility</mat-icon> ACTEURS
      </mat-list-item>
      <mat-list-item routerLink="{{routes.STRUCTURE}}" routerLinkActive="active">
        <mat-icon>view_agenda</mat-icon> STRUCTURES
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>https</mat-icon> SECURISEE
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.SECURITE}}" routerLinkActive="active">
        <mat-icon>person</mat-icon> Gestion des profils
      </mat-list-item>
      <mat-list-item routerLink="{{routes.GESTION_USER}}" routerLinkActive="active">
        <mat-icon>how_to_reg</mat-icon> Gestion des utilisateurs
      </mat-list-item>
      <mat-list-item routerLink="{{routes.LOGS}}" routerLinkActive="active">
        <mat-icon>vpn_key</mat-icon> Logs
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>build</mat-icon> PARAMETRAGES
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.PARAMETRAGES}}" routerLinkActive="active">
        <mat-icon>event</mat-icon> LIMITE DATE SAISIE
      </mat-list-item>
      <mat-list-item routerLink="{{routes.LIMITE_REMONTE}}" routerLinkActive="active">
        <mat-icon>error</mat-icon> LIMITE REMONTE PROBLEME
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  
  
  

  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>cached</mat-icon> GESTION CHATING
      </mat-expansion-panel-header>
      <mat-list-item routerLink="{{routes.GESTION_CHATING}}" routerLinkActive="active">
        <mat-icon>message</mat-icon> CHATING
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion> -->
  <!--<mat-list-item routerLink="{{routes.TYPOGRAPHY}}" routerLinkActive="active">
    <mat-icon>text_fields</mat-icon> Typography
  </mat-list-item>
  <mat-list-item routerLink="{{routes.TABLES}}" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> Tables
  </mat-list-item>
  <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active">
    <mat-icon>notifications_none</mat-icon> Notification
  </mat-list-item>
  <mat-list-item (click)="openUiElements()">
    <mat-icon>filter_none</mat-icon> UI Elements
  </mat-list-item>
    <div>
      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_ICONS}}" routerLinkActive="active">
        <div class="circle"></div>Icons
      </mat-list-item>
     
   
    </div>
</mat-list>

<p class="sidebar-title">Help</p>

<mat-list>
  <a href="https://flatlogic.com/templates" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>library_books</mat-icon> Library
    </mat-list-item>
  </a>
  <a href="https://flatlogic.com/forum/" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>question_answer</mat-icon> Support
    </mat-list-item>
  </a>
  <a href="https://flatlogic.com/forum" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>help_outline</mat-icon> FAQ
    </mat-list-item>
  </a>
</mat-list>

<p class="sidebar-title">Projects</p>

<mat-list>
  <mat-list-item> <div class="project-circle project-circle_yellow"></div> My resend </mat-list-item>
  <mat-list-item> <div class="project-circle project-circle_blue"></div> Starred</mat-list-item>
  <mat-list-item> <div class="project-circle project-circle_pink"></div> Background </mat-list-item>
</mat-list>



-->
