<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon> Tableau de Bord
  </mat-list-item>
  <mat-list-item routerLink="{{routes.AVANCEMENT}}" routerLinkActive="active">
    <mat-icon>library_books</mat-icon> Avancement détaillé
  </mat-list-item>
          <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
            <div class="circle"></div>Configuration
          </mat-list-item>
          <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
            <div class="circle"></div>Projets/Reforme
          </mat-list-item>
  <mat-list-item routerLink="{{routes.ISSUE_LOG}}" routerLinkActive="active">
    <mat-icon>fast_rewind</mat-icon> Issue Log
  </mat-list-item>
  <mat-list-item routerLink="{{routes.FINANCES}}" routerLinkActive="active">
    <mat-icon>money</mat-icon> Finances
  </mat-list-item>
        <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
          <div class="circle"></div>Suivi financier
        </mat-list-item>
        <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
          <div class="circle"></div>TDB Financier
        </mat-list-item>

<mat-list-item routerLink="{{routes.MEDIATHEQUE}}" routerLinkActive="active">
    <mat-icon>notifications</mat-icon> Mediathèque
  </mat-list-item>
            <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
              <div class="circle"></div>Rapports
            </mat-list-item>
            <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
              <div class="circle"></div>Photos et videos
            </mat-list-item>
  <mat-list-item routerLink="{{routes.STATISTIQUE}}" routerLinkActive="active">
    <mat-icon>show_chart</mat-icon> Statistique
  </mat-list-item>
  
  <mat-list-item routerLink="{{routes.GESTION_ALERTES}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Gestion des alertes
  </mat-list-item>
            <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
              <div class="circle"></div>Configuration
            </mat-list-item>
            <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
              <div class="circle"></div>Alertes
            </mat-list-item>
  <mat-list-item routerLink="{{routes.MESSAGERIES}}" routerLinkActive="active">
    <mat-icon>message</mat-icon> Messagerie
  </mat-list-item>
  <mat-list-item routerLink="{{routes.REFERENTIEL}}" routerLinkActive="active">
    <mat-icon>view_agenda</mat-icon> Référentiel
  </mat-list-item>
            <div>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Issue log
              </mat-list-item>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Indicateurs
              </mat-list-item>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Documents
              </mat-list-item>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Budgets
              </mat-list-item>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Compositions
              </mat-list-item>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Autres
              </mat-list-item>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Acteurs
              </mat-list-item>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Structures
              </mat-list-item>
            </div>
  <mat-list-item routerLink="{{routes.SECURITE}}" routerLinkActive="active">
    <mat-icon>vpn_key</mat-icon> Securité
  </mat-list-item>
  <div>
    <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
      <div class="circle"></div>Gestion des proils
    </mat-list-item>
    <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
      <div class="circle"></div>Gestion des utilisateurs
    </mat-list-item>
    <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
      <div class="circle"></div>Logs
    </mat-list-item>
  </div>
  <mat-list-item routerLink="{{routes.PARAMETRAGES}}" routerLinkActive="active">
    <mat-icon>settings</mat-icon> Parametrage
  </mat-list-item>
        <div>
          <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
            <div class="circle"></div>Limite date saisie
          </mat-list-item>
          <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
            <div class="circle"></div>Limite remonte probleme
          </mat-list-item>
        </div>
  <mat-list-item routerLink="{{routes.GESTION_CHATING}}" routerLinkActive="active">
    <mat-icon>message</mat-icon> Gestion chatting
  </mat-list-item>
            <div>
              <mat-list-item class="ui-element" routerLink="" routerLinkActive="active">
                <div class="circle"></div>Chatting
              </mat-list-item>
            </div>
  <mat-list-item routerLink="{{routes.TYPOGRAPHY}}" routerLinkActive="active">
    <mat-icon>text_fields</mat-icon> Typography
  </mat-list-item>
  <mat-list-item routerLink="{{routes.TABLES}}" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> Tables
  </mat-list-item>
  <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active">
    <mat-icon>notifications_none</mat-icon> Notification
  </mat-list-item>
  <mat-list-item (click)="openUiElements()">
    <mat-icon>filter_none</mat-icon> UI Elements 
  </mat-list-item>
    <div>
      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_ICONS}}" routerLinkActive="active">
        <div class="circle"></div>Icons
      </mat-list-item>
      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_CHARTS}}" routerLinkActive="active">
        <div class="circle"></div>Charts
      </mat-list-item>
      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_MAP}}" routerLinkActive="active">
        <div class="circle"></div>Map
      </mat-list-item>
    </div>
</mat-list>

<p class="sidebar-title">Help</p>

<mat-list>
  <a href="https://flatlogic.com/templates" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>library_books</mat-icon> Library
    </mat-list-item>
  </a>
  <a href="https://flatlogic.com/forum/" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>question_answer</mat-icon> Support
    </mat-list-item>
  </a>
  <a href="https://flatlogic.com/forum" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>help_outline</mat-icon> FAQ
    </mat-list-item>
  </a>
</mat-list>

<p class="sidebar-title">Projects</p>

<mat-list>
  <mat-list-item> <div class="project-circle project-circle_yellow"></div> My resend </mat-list-item>
  <mat-list-item> <div class="project-circle project-circle_blue"></div> Starred</mat-list-item>
  <mat-list-item> <div class="project-circle project-circle_pink"></div> Background </mat-list-item>
</mat-list>
