<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon> Tableau de Bord
  </mat-list-item>
  <mat-list-item routerLink="{{routes.AVANCEMENT}}" routerLinkActive="active">
    <mat-icon>library_books</mat-icon> Avancement détaillé
  </mat-list-item>
        
  <mat-list-item routerLink="{{routes.ISSUE_LOG}}" routerLinkActive="active">
    <mat-icon>fast_rewind</mat-icon> Issue Log
  </mat-list-item>
  <mat-list-item routerLink="{{routes.FINANCES}}" routerLinkActive="active">
    <mat-icon>money</mat-icon> Finances
  </mat-list-item>
        

<mat-list-item routerLink="{{routes.MEDIATHEQUE}}" routerLinkActive="active">
    <mat-icon>notifications</mat-icon> Mediathèque
  </mat-list-item>
           
  <mat-list-item routerLink="{{routes.STATISTIQUE}}" routerLinkActive="active">
    <mat-icon>show_chart</mat-icon> Statistique
  </mat-list-item>
  
  <mat-list-item routerLink="{{routes.GESTION_ALERTES}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Gestion des alertes
  </mat-list-item>
           
  <mat-list-item routerLink="{{routes.MESSAGERIES}}" routerLinkActive="active">
    <mat-icon>message</mat-icon> Messagerie
  </mat-list-item>
  <mat-list-item routerLink="{{routes.REFERENTIEL}}" routerLinkActive="active">
    <mat-icon>view_agenda</mat-icon> Référentiel
  </mat-list-item>
            
  <mat-list-item routerLink="{{routes.SECURITE}}" routerLinkActive="active">
    <mat-icon>vpn_key</mat-icon> Securité
  </mat-list-item>
 
  <mat-list-item routerLink="{{routes.PARAMETRAGES}}" routerLinkActive="active">
    <mat-icon>settings</mat-icon> Parametrage
  </mat-list-item>
        
  <mat-list-item routerLink="{{routes.GESTION_CHATING}}" routerLinkActive="active">
    <mat-icon>message</mat-icon> Gestion chatting
  </mat-list-item>   
</mat-list>

