<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Autres</h1>
  </mat-toolbar>

  <mat-card class="icons-wrapper">
    <mat-tab-group>
      <!-- Autres -->
      <mat-tab label="Autres">
        <div class="icons-content">
          <!-- LINE 1 -->

          <div class="page-content__items-wrapper">
            <!-- Card 1 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Périodicités</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>

            <!-- Card 2 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Statut</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>
          </div>

          <!-- LINE 2 -->
          <div class="page-content__items-wrapper">
            <!-- Card 1 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Rôles</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>

            <!-- Card 2 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Fonctions</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>
          </div>

          <!-- LINE 3 -->
          <div class="page-content__items-wrapper">
            <!-- Card 1 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Nature</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>

            <!-- Card 2 -->
            <mat-card class="page-content__item">
              <mat-card-title>
                <mat-toolbar>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                  >
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Periodes</span>
                  <span class="example-spacer"></span>
                  <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-toolbar>
              </mat-card-title>
              <mat-card-content> </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</app-layout>
