<app-layout>
   
    
    <mat-toolbar class="page-header" role="heading">
        <h1>Mediatheque</h1>
    </mat-toolbar>

      <mat-card class="icons-wrapper">
        <mat-tab-group>
          <mat-tab label="Rapport">
            <div class="icons-content">
              <div class="page-content__items-wrapper">

                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          <mat-icon>book</mat-icon>
                        </button>
                        <span>Annees</span>
                        <span class="example-spacer"></span>
                        
                    </mat-toolbar>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                   
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
               
        
        
              </div>
              

            </div>
          </mat-tab>

          <mat-tab label="Photos et Videos">
            <div class="icons-content">
            
              <div class="page-content__items-wrapper">

                <!-- Card 1 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <mat-toolbar>
                        
                        <span>Projets phares / Composantes</span>
                        <span class="example-spacer"></span>
                        
                    </mat-toolbar>
                
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
                <!-- Card 2 -->
                <mat-card class="page-content__item">
                  <mat-card-title>
                    <p>Utilissteurs</p>
                  </mat-card-title>
                  <mat-card-content>
        
                  </mat-card-content>
                </mat-card>
        
        
              </div>

            </div>
          </mat-tab>
    
         
        </mat-tab-group>
      </mat-card>
    
</app-layout>
