<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Avancement détaillé</h1>
</mat-toolbar>
  <mat-card class="icons-wrapper">
    <mat-tab-group>
      <mat-tab label="Configuration">
        <div class="icons-content">
          <br>
          <button mat-raised-button color="primary" (click)="openDialog()">Nouveau</button>
          <br>
          <div class="card-interne">
            <div class="sectionA">
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
              </mat-tree>
            </div>
            <div class="sectionB">
              <mat-card>
                <div class="titre-button">
                  <p>
                    Nom du projets 150-200 " micro-projets" de soutien de l'agriculture familiale
                  </p>
                  <button mat-raised-button color="success">
                    Projet phare
                  </button>
                </div>
              </mat-card>
              <mat-card>
                <mat-tab-group class="section-bleue">
                  <mat-tab label="Indicateurs">


                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                          <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                          <th>Periode</th>
                          <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                          <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>


                      </tbody>
                    </table>


                  </mat-tab>
                  <mat-tab label="Object. spéc">
                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Description</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Molestiae quo voluptatem saepe. Facilis dolor fugiat beatae, repellendus
                            expedita consequuntur enim at natus adipisci, dolorem qui fuga cum, error ratione unde.</td>

                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </mat-tab>
                  <mat-tab label="Impacts prévus">
                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Description</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Molestiae quo voluptatem saepe. Facilis dolor fugiat beatae, repellendus
                            expedita consequuntur enim at natus adipisci, dolorem qui fuga cum, error ratione unde.</td>

                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </mat-tab>
                  <mat-tab label="Documents ">
                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Icone</th>
                          <th class="mdl-data-table__cell--non-numeric">
                            Libelle</th>
                          <th>
                            Auteur</th>
                          <th>Date production</th>
                          <th>
                            Télécharger</th>
                          <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                          <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </mat-tab>
                </mat-tab-group>


              </mat-card>
            </div>



          </div>


        </div>
      </mat-tab>

      <mat-tab label="Projets | Réformes">
        <div class="icons-content">
          <br>
          <button mat-raised-button color="primary" (click)="openDialog()">Nouveau</button>
          <br>
          <div class="card-interne">
            <div class="sectionA">
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
              </mat-tree>
            </div>
            <div class="sectionB">
              <mat-card>
                <div class="titre-button">
                  <p>
                    Nom du projets 150-200 " micro-projets" de soutien de l'agriculture familiale
                  </p>
                  <button mat-raised-button color="success">
                    Projet phare
                  </button>
                </div>
              </mat-card>
              <mat-card>
                <mat-tab-group class="section-bleue">
                  <mat-tab label="Indicateurs">


                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Indicateur</th>
                          <th class="mdl-data-table__cell--non-numeric">Valeur cible</th>
                          <th>Periode</th>
                          <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                          <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Indicateur 1</td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>


                      </tbody>
                    </table>


                  </mat-tab>
                  <mat-tab label="Object. spéc">
                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Description</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Molestiae quo voluptatem saepe. Facilis dolor fugiat beatae, repellendus
                            expedita consequuntur enim at natus adipisci, dolorem qui fuga cum, error ratione unde.</td>

                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </mat-tab>
                  <mat-tab label="Impacts prévus">
                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Description</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Molestiae quo voluptatem saepe. Facilis dolor fugiat beatae, repellendus
                            expedita consequuntur enim at natus adipisci, dolorem qui fuga cum, error ratione unde.</td>

                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </mat-tab>
                  <mat-tab label="Documents ">
                    <table class="mdl-data-table mdl-js-data-table">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Icone</th>
                          <th class="mdl-data-table__cell--non-numeric">
                            Libelle</th>
                          <th>
                            Auteur</th>
                          <th>Date production</th>
                          <th>
                            Télécharger</th>
                          <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                          <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                          <td>40</td>
                          <td>40</td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </mat-tab>
                </mat-tab-group>


              </mat-card>
            </div>



          </div>


        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>






</app-layout>