<app-layout>
  
  <mat-toolbar class="page-header" role="heading">
    <h1>Finance</h1>
</mat-toolbar>

<mat-card class="icons-wrapper">
 
      <div class="icons-content">
        
        <div class="card-interne">
          <div class="sectionA">
            <br> 
          <label for="">Projets Phares & Reformes</label>
          <br> 
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                {{node.name}}
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                {{node.name}}
              </mat-tree-node>
            </mat-tree>
            
          </div>
          <div class="sectionB">
            <mat-card>
              <div class="titre-button">
    <h4>Schéma d’articulation globale adapté à la CMU</h4>
              </div>
            </mat-card>
            <mat-card>
             

              <mat-tab-group>
                <mat-tab label=" Montant Global">
                  <table class="mdl-data-table mdl-js-data-table table-issulog">
                    <thead>
                      <tr class="head-table">
                        <th class="mdl-data-table__cell--non-numeric">Type de Financement</th>
                        <th class="mdl-data-table__cell--non-numeric">Montant indicatif(PAP)</th>
                        <th class="mdl-data-table__cell--non-numeric">Montant global initial</th>
                        <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                        <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
          
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>

                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      
    
                     
    
    
                    </tbody>
                  </table>
    
                 </mat-tab>
                 <mat-tab label=" Sources">
                  <table class="mdl-data-table mdl-js-data-table table-issulog">
                    <thead>
                      <tr class="head-table">
                        <th class="mdl-data-table__cell--non-numeric">Bailleur</th>
                        <th class="mdl-data-table__cell--non-numeric">Source Financement</th>
                       
                
                        <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                        <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
          
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                       
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>

                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                       
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                       
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      
    
                     
    
    
                    </tbody>
                  </table>
    
                </mat-tab>
                <mat-tab label=" Besoins Fin.">
                  <table class="mdl-data-table mdl-js-data-table table-issulog">
                    <thead>
                      <tr class="head-table">
                        <th class="mdl-data-table__cell--non-numeric">Type de Financement</th>
                        <th class="mdl-data-table__cell--non-numeric">Montant indicatif(PAP)</th>
                       
                        <th class="mdl-data-table__cell--non-numeric">Montant global initial</th>
                        <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                        <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
          
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>

                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      
    
                     
    
    
                    </tbody>
                  </table>
                </mat-tab>
                <mat-tab label=" Inscriptions Budg.">
                  <table class="mdl-data-table mdl-js-data-table table-issulog">
                    <thead>
                      <tr class="head-table">
                        <th class="mdl-data-table__cell--non-numeric">Date</th>
                        <th class="mdl-data-table__cell--non-numeric">Montant</th>
                       
                        <th class="mdl-data-table__cell--non-numeric">Année</th>
                        <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                        <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
          
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>

                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      
    
                     
    
    
                    </tbody>
                  </table>
                </mat-tab>
                <mat-tab label=" Mobilisations">
                  <table class="mdl-data-table mdl-js-data-table table-issulog">
                    <thead>
                      <tr class="head-table">
                        <th class="mdl-data-table__cell--non-numeric">Date</th>
                        <th class="mdl-data-table__cell--non-numeric">Montant</th>
                       
                        <th class="mdl-data-table__cell--non-numeric">Année</th>
                        <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                        <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
          
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>

                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      
    
                     
    
    
                    </tbody>
                  </table>
                </mat-tab>
                <mat-tab label=" Exécutions">
                  <table class="mdl-data-table mdl-js-data-table table-issulog">
                    <thead>
                      <tr class="head-table">
                        <th class="mdl-data-table__cell--non-numeric">Date</th>
                        <th class="mdl-data-table__cell--non-numeric">Montant</th>
                       
                        <th class="mdl-data-table__cell--non-numeric">Année</th>
                        <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                        <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
          
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>

                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan de Relan...</td>
                        <td class="mdl-data-table__cell--non-numeric">Centrale élec...</td>
                        <td class="mdl-data-table__cell--non-numeric">Sécurisation de l'assiette foncière de la DGPU</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                       
                   
                      </tr>
                      
    
                     
    
    
                    </tbody>
                  </table>
    
                </mat-tab>
                <mat-tab label="Documents">
                  <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                      <tr>
                        <th class="mdl-data-table__cell--non-numeric">Icone</th>
                        <th class="mdl-data-table__cell--non-numeric">
                          Libelle</th>
                        <th>
                          Auteur</th>
                        <th>Date production</th>
                        <th>
                          Télécharger</th>
                        <th class="mdl-data-table__cell--non-numeric">Modifier</th>
                        <th class="mdl-data-table__cell--non-numeric">Supprimer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                        <td>40</td>
                        <td>40</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                        <td>40</td>
                        <td>40</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                        <td>40</td>
                        <td>40</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">Valeur cible</td>
                        <td>40</td>
                        <td>40</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">download</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </mat-tab>
              </mat-tab-group>
                  
              
               
    
            </mat-card>
          </div>



        </div>


      </div>
   
  
 
</mat-card>


 
  
  </app-layout>
  